.page-statistic {
  display: flex;
  justify-content: space-between;
  gap: 76px;
  padding-left: 136px;
  margin-bottom: 120px;
}
.page-statistic__imageblock {
  width: 581px;
  height: 468px;
  background-image: url('./../../src/img/statistic/mango.png');
  background-size: contain;
}

// sloganblock
.page-statistic__sloganblock {
  position: relative;
  width: 452px;
  margin-bottom: 25px;

  .page-statistic__slogan {
    font-size: 49px;
    font-weight: 600;
    line-height: 1.3;
  }
  .page-statistic__imageleaf {
    position: absolute;
    top: 68px;
    left: 322px;
  }
}

// description text
.page-statistic__text {
  width: 524px;
  opacity: 0.7;
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 1.6;
}

// facts ul
.page-statistic__facts {
  display: flex;
  flex-wrap: wrap;
}

// li
.page-statistic__item {
  display: flex;
  align-items: center;

  margin-bottom: 36px;
  flex-basis: calc((100% - 25%) / 2);
  // flex-basis: calc((100% - 38px) / 2);
  &:nth-child(1) {
    order: 1;
  }
  &:nth-child(2) {
    order: 3;
  }
  &:nth-child(3) {
    order: 2;
  }
  &:nth-child(4) {
    order: 4;
  }
}

// 1 2 3 4
.page-statistic__itemnumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 73px;
  margin-right: 35px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.05);
  color: $accent-color;
  font-size: 35px;
  font-weight: 700px;
  line-height: 1.4;
}

.page-statistic__wrapper {
  display: flex;
  flex-direction: column;

  .page-statistic__itemvalue {
    font-weight: 500;
    font-size: 49px;
    line-height: 1.3;
    color: $accent-color;
    border-bottom: 2px solid $accent-color;
    margin-bottom: 4px;
  }
  .page-statistic__itemtext {
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.7;
  }
}
